doctype 5
html
  head
    title App i18n
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery-2.0.3.min.js')
    script(src='/js/bootstrap.min.js')   
  body
    div.container
        block content