extends layout

block content
    h1 Register
    if msg
        div.alert.alert-danger
            p= msg
    div
        form.form(method='post')
            div.form-group
                label Email:
                input.form-control(name='email', placeholder='Email', value=user.email)
            div.form-group
                label Password:
                input.form-control(name='password', placeholder='Password')
            div.form-group
                label Languages:
                textarea.form-control(name='languages', placeholder='Languages')= user.languages
            div.form-group
                button.btn.btn-primary(type='submit') Register
    div
        p
            a(href="/auth/facebook") Facebook
        p
            a(href="#") Twitter
        p
            a(href="#") Google