extends layout

block content
    h1= 'API Test' 
    if user
        h2 Hi #{user.username}
    ul
        li
            a(href='/auth/facebook') login with facebook
        li
            a(href='/auth/profile') profile
        li
            a(href='/auth/logout') logout