extends ../layout

block content
    h1= title 
    h3 Strings
    form.form(method='post',enctype='multipart/form-data')
        div.form-group
            label String Resouce File
            input.form-control(type='file', name='file', placeholder='String Resouce File')
        div.form-group
                button.btn.btn-primary(type='submit') Upload
                span  
                a.btn.btn-default(href='/boss/app/#{app._id}') Cancel